.movieItemTitle {
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: #aaaaaa;
}
.movieItemItem {
  flex-basis: calc((100% - 150px) / 5);
  background: #3d3d3d;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.movieItemItem:hover {
  transform: scale(1.01);
  animation: boxShadow 0.6s ease;
  animation-iteration-count: infinite;
}

@keyframes boxShadow {
  from {
    box-shadow:  rgba(67, 66, 66, 0.4);
  }
  50% {
    box-shadow:  rgba(67, 66, 66, 0.4);
  }
  to {
    box-shadow:  rgba(67, 66, 66, 0.4);
  }
}

.movieItemImg {
  width: 100%;
}
